body {
	margin: 3%;
	background: url(images/bg.gif);
	background-size: cover;
	font-family: monospace;
	font-style: normal;
	font-size: 14px;
	color: #000;
	height: 650px;
}

h1, h2, h3 {
	margin: 0;
	padding: 5;
	font-weight: normal;
	color: #fff;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: rgb(255, 250, 250);
}

a:hover {
	text-decoration: underline;
}
#wrapper 
{
    padding: 5px;    
}

#left-side
{
    float:left;
    width:200px;
    width: 120px;
	margin: 10px auto;
}

#center {
	width: 77%;
	margin: 10px 10px 10px 170px;
	background: rgb(230, 255, 0);
    padding: 30px;
    letter-spacing: 3px;
}
#content {
	width: 85%;
	margin: 50px auto;
	padding:10px;
	background: #666;
}

#top{
    width: 85%;
	margin: 10px auto;
}

#footer {
    color: rgb(255, 255, 255);
	width: 86%;
	margin: auto;
}
span {
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translateX(-30%) translateY(-10%);
}
